@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif ;
  margin: 10;
  background-image: url('https://images.unsplash.com/photo-1498511225742-7831d53e64b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-top: -10rem;
  color: rgb(197, 193, 155); font-family: 'Helvetica Neue', sans-serif; font-size: 90px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;

}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  width:105%;
  height: 200px;
  margin-left:-8px;
  min-width:480px;
  overflow:hidden;
  max-width:1920px;
  align-items: center;
  justify-content: center;

}

.big-text{
  font-size: 4rem;
  line-height: 1;
  margin: 1rem 2rem;
  font-weight: bold;
}

.countdown-el{
  text-align: center;
}

.countdown-el span{
  font-size: 1.5rem;
}
